.wrapper {
    text-align: center;
}

.board {
    --grid-size: 15;
    /* Start with 4x4 */
    display: grid;
    width: 50rem;
    height: 50rem;
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
}

.square {
    border: 1px solid white;
    display: grid;
    place-items: center;
    font-size: 40px;
    background-size: contain;
}


